{% extends 'shared/_Mainlayout.html' %}
{% load static %}
{% block content %}

    <div class="center" style="margin-bottom: 100px;margin-top: 50px;border: 5px;text-align: center">
    <p > <h3 style="color:#F7941D">Forgotten Your Password ?</h3></p>
        <hr>
    <p style="color: #F7941D"> Enter Your Email address to obtain new password</p>
    <br>
        <form method="post">

            {% csrf_token %}
            {{ form.as_p }}
            <br>

            <button type="submit" class="btn btn-warning">Send E-mail</button>

        </form>


    </div>
    
{% endblock %}