{% extends 'shared/_Mainlayout.html' %}
{% load static %}
{% block content %}
<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
                    <Hr>
					<h5 class="heading-section" style="color: #F7941D">Change Your Password</h5>
                    <hr>
                    <br>
                    <br>
                    <p style="color: red">
                        {{ message }}
                    </p>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">
						<div class="img"  style="margin-right:50px" >
                            <img width="500" height="500" src={% static 'images/registerpic.png' %} alt="login-pic">
                            <p style="margin-left: 60px;color: #F7941D"> Meet us on Social Media</p>
                            <p ></p>
                            <div class="w-100" >
									<p class="social-media d-flex justify-content-end" style="margin-right: 100px">
										<a href="{{ facebook_url }}" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook , fa-4x" style="margin-right: 30px; "></span></a>

										<a href="{{ twitter_url }}" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter fa-4x" style="margin-right: 30px"></span></a>

                                        <a href="{{ instagram_url }}" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-instagram fa-4x" style="margin-right: 30px"></span></a>
									</p>
                            </div>

			      </div>
						<div class="login-wrap p-4 p-md-5">
			      	<div class="d-flex">
			      		<div class="w-100">

			      		</div>

			      	</div>
                        <form method="post" style="margin-left: 150px; margin-bottom: 50px">
                        {% csrf_token %}
			      		<div class="form-group mb-3">
                                    {% csrf_token %}
                                    {{ form.as_p }}
			      		</div>
		            <div class="form-group">
		            	<button type="submit" class="form-control btn btn-primary rounded submit px-3">Change</button>
		            </div>
		          </form>

		        </div>

		      </div>


				</div>

			</div>

		</div>

</section>

{% endblock %}
