{% extends 'shared/_Mainlayout.html' %}
{% load static %}
{% block content %}

    <div class="center" style="margin-bottom: 100px;margin-top: 50px;border: 5px;text-align: center">
    <p > <h3 style="color:#F7941D">Reset Your Password</h3></p>
        <hr>
    <p style="color: #F7941D"> We've Emailed you instruction for setting your password.</p>
    <br>
    <p style="color: red"> If you have not received the email, please make sure you've entered the correct one.</p>
    </div>
    
{% endblock %}
