{% extends 'shared/_Mainlayout.html' %}
{% load static %}
{% block content %}

    <div class="center" style="margin-bottom: 100px;margin-top: 50px;border: 5px;text-align: center">
    <p > <h3 style="color:#F7941D">Reset Your Password</h3></p>
        <hr>
    {% if validlink %}
        <p style="color: #F7941D"> Please enter your new password twice:</p>

        <form method="post">

            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <button type="submit" class="btn btn-warning">Change my password</button>
        </form>

    {% else %}
        <p> The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
    </div>
    
{% endblock %}