{% extends 'shared/_Mainlayout.html' %}
{% load static %}
{% block content %}

	<section id="contact-us" class="contact-us section">
		<div class="container">
				<div class="contact-head">
					<div class="row">
						<div class="col-lg-8 col-12">
							<div class="form-main">

								<div class="title">
									<h3>Send Your Contract</h3>
								</div>
                                <div>
                                    <hr>

                                    <body style="font-family:sans-serif;margin-left:2em;">
                                            <h1 style="font-family: "Trebuchet MS", Helvetica, sans-serif;
                                                color: darkblue;margin-bottom: 0;">Welcome</h1>
                                            <h2 style="font-family: "Trebuchet MS", Helvetica, sans-serif;
                                              margin-top: 0px;margin-bottom: 3.5em;font-size: 1em;
                                              color: darkblue;"> Hello dear {{ sender_name }} </h2>
                                            <h4>Ordered by Email {{ sender_email }} </h4>
                                            <p style="margin-top:0em; margin-bottom:0em;"> Sent To: {{ signer_name }} With Email : {{ signer_email }}</p>
                                            <p style="margin-top:3em;">
                                                <hr>
                                                    {{ contract_text }}
                                                <hr>
                                            </p>
                                </body>
                                    <hr>
                                </div>
                                <div>
                                    <form class="form" method="post" >
                                     {% csrf_token %}
									<div class="row">
										<div class="col-lg-6 col-12">
											<div class="form-group">
												<label>Full Name<span>*</span></label>
                                                   {% for error in form.full_name.errors %}
                                                   <p style="color: red">{{ error }}</p>
                                                 {% endfor %}
												{{ form.full_name }}
											</div>
										</div>
										<div class="col-lg-6 col-12">
											<div class="form-group">
												<label> Email<span>*</span></label>
												{{ form.email }}
                                                   {% for error in form.email.errors %}
                                                   <p style="color: red">{{ error }}</p>
                                                 {% endfor %}
											</div>
										</div>
                                        <div class="col-lg-6 col-12">
											<div class="form-group">
												<label>Date<span>*</span></label>
												{{ form.date }}
                                                   {% for error in form.date.errors %}
                                                   <p style="color: red">{{ error }}</p>
                                                 {% endfor %}
											</div>
										</div>
                                        <div class="col-lg-6 col-12">

										</div>
										<div class="col-12">
											<div class="form-group button">
												<button type="submit" class="btn ">Sign Your Contract and Send it</button>
											</div>
										</div>
									</div>
								</form>
                                </div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</section>

{% endblock %}