
{% load static %}
{% include 'shared/footerReferences.html' %}

   <!-- Start Footer Area -->
	<footer class="footer">
		<!-- Footer Top -->
		<div class="footer-top section">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer about">
							<div class="logo">
                                {% if site_setting.footer_logo.url is not None %}
								    <a href="/"><img src={{ site_setting.footer_logo.url }} alt="#"></a>
                                {% endif %}
							</div>
							<p class="text"> About us</p>
							<p class="call">Got Question? Call us 24/7<span><a href="#">+989366449567</a></span></p>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-2 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer links">
							<h4 style="color: #F7941D">Information</h4>
							<ul>
								<li><a href="/about">About Us</a></li>
								<li><a href="/contact">Contact Us</a></li>
								<li><a href="#">Help</a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-2 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer links">
							<h4 style="color: #F7941D">Customer Service</h4>
							<ul>
								<li><a href="#">Payment Methods</a></li>
								<li><a href="#">Money-back</a></li>
								<li><a href="#">Returns</a></li>
								<li><a href="#">Privacy Policy</a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer social">
							<h4 style="color: #F7941D">Get In Tuch</h4>
							<!-- Single Widget -->
							<div class="contact">
								<ul>
									<li>Address ......</li>
									<li>Email ...</li>
                                    <li>Fax ...</li>
									<li>Phone ...</li>
								</ul>
							</div>
							<!-- End Single Widget -->
							<ul>
								<li><a href="www.facebook.com"><i class="ti-facebook"></i></a></li>
								<li><a href="www.twitter.com"><i class="ti-twitter"></i></a></li>
								<li><a href="www.instageram.com"><i class="ti-instagram"></i></a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Footer Top -->
		<div class="copyright">
			<div class="container">
				<div class="inner">
					<div class="row">
						<div class="col-lg-6 col-12">
							<div class="left">
								<p>Copy Right Rule</p>
							</div>
						</div>
						<div class="col-lg-6 col-12">
							<div class="right">
								<img src= alt="#">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- /End Footer Area -->

